
main {
    /* background-color: rgb(44, 42, 40); */
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    color: #4CC9F0;
}
main h2{
    color: #F72585;
    padding-bottom: 0.2em;
    border-bottom: 2px dashed #3F37C9;
    font-size: xx-large;
}


.about-head{
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2em;
    padding: 2em;
}

.resume-btn{
    color: #4895EF;
    display: flex;
    align-items: center;
    gap: 0.5em;
    justify-content: center;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 1px solid #4895EF;
}
/* .resume-btn:hover{
    color: #4CC9F0;
    border: 1px solid #4CC9F0;
    cursor: pointer;

} */

.my-skills{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10px;
margin-bottom: 5em;
}

.skill-container{
    width: 350px;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.item{
    margin: 10px;
    border-radius: 12% 30% 10% 39% / 0% 30% 0% 39% ;
    box-shadow:0 0 8px #F72585;
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.item img{
    max-width: 50px;
    /* height: 10em; */
}

.item h3{
/* display: none; */
font-size: small;
}





@media only screen and (max-width:900px){
    
    .about-head{
        width: 100vw;
    }
    .skill-container{
        /* width: 90vw; */
        overflow-y: scroll ;
    gap: 10px;
}

    
}